
jrpgsource/.vs/jrpgsource/v16/Server/sqlite3/storage.ide-wal
jrpgsource/.vs/jrpgsource/v16/Server/sqlite3/storage.ide-shm
jrpgsource/.vs/jrpgsource/v16/Server/sqlite3/storage.ide
jrpgsource/.vs/jrpgsource/v16/.suo
jrpgsource/.vs/jrpgsource/v16/Server/sqlite3/db.lock
jrpgsource/jrpgsource/bin/DesktopGL/AnyCPU/Debug/jrpgsource.exe
jrpgsource/jrpgsource/bin/DesktopGL/AnyCPU/Debug/jrpgsource.pdb
jrpgsource/jrpgsource/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
jrpgsource/jrpgsource/obj/Debug/jrpgsource.csproj.FileListAbsolute.txt
jrpgsource/jrpgsource/obj/Debug/jrpgsource.csprojAssemblyReference.cache
jrpgsource/jrpgsource/obj/Debug/jrpgsource.exe
jrpgsource/jrpgsource/obj/Debug/jrpgsource.pdb
jrpgsource/jrpgsource/bin/DesktopGL/AnyCPU/Debug/jrpgsource.exe
jrpgsource/jrpgsource/bin/DesktopGL/AnyCPU/Debug/jrpgsource.pdb
jrpgsource/jrpgsource/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
jrpgsource/jrpgsource/obj/Debug/jrpgsource.csproj.FileListAbsolute.txt
jrpgsource/jrpgsource/obj/Debug/jrpgsource.csprojAssemblyReference.cache
jrpgsource/jrpgsource/obj/Debug/jrpgsource.exe
jrpgsource/jrpgsource/obj/Debug/jrpgsource.pdb
